html, body, #root, .app_container {
  height:100%
}
@font-face {
  font-family: "robotolight";
  src: url("./fonts/roboto-light-webfont.woff2") format("woff2"),
    url("./fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("./fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("./fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold_condensed_italic";
  src: url("./fonts/roboto-boldcondenseditalic-webfont.woff2") format("woff2"),
    url("./fonts/roboto-boldcondenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.preloader {
  margin-left: auto;
  margin-right: auto;
}

.app_container {
  display: grid;
  overflow-wrap: anywhere;
}

.navbar {
  font-family: robotobold_condensed_italic;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  background-color: #275a67;
  color: aliceblue;
}
.navbar h3 {
  margin-right: auto;
  margin-left: 10px;
}
/**/

.welcome {
  margin-top: 20%;
  text-align: center;
}

/* chatbox */
.chatbox {
  background-color: #023047;
  font-family: robotolight;
}
.chatbox img {
  border-radius: 10px;
  padding: 6px;
}

.message_me,
.message_else {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  width: max-content;
  max-width: 90%;
  box-shadow: -2px 2px 1px 1px #4c768d;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.message_me {
  background-color: #bed5ed;
  margin-left: auto;
}
.message_else {
  background-color: #219ebc;
  margin-right: auto;
}

.message_me .message_sender,
.message_me .message_body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.message_else .message_sender,
.message_else .message_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message_sender {
  font-family: robotomedium;
}

.message_body {
}

/* send_message*/
.send_message_container {
  background-color: #7fa7c5;
  display: flex;
  justify-content: end;
  align-items: center;
}
.send_message_container textarea {
  background: rgb(127 167 197 / 90%);
  border-width: 2px;
  border-color: aliceblue;
  border-radius: 10px;
  margin-left: auto;
  width: 80%;
  resize: none;
  outline: none !important;
}
.send_message_container form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



/*footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9d1ef;
}
.footer a {
  color:black;
  text-decoration: none;
  font-size: 42px;
  transition: 200ms;
}
.footer a:hover {
  transform: scale(1.1);
}