.app_container {
    overflow-wrap: anywhere;
}


.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  background-color: #275a67;
  color:aliceblue;
  
}
.navbar h3 {
  margin-right: auto;
}
/**/

.welcome {
  margin-top: 20%;
  text-align: center;
}

/* chatbox */
.chatbox {
  background-color: #023047;
}

.message_me,
.message_else {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  width: max-content;
  max-width: 90%;
  box-shadow: -2px 2px 1px 1px #4c768d;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.message_me {
  background-color: #bed5ed;
  margin-left: auto;
}
.message_else {
  background-color: #219ebc;
  margin-right: auto;
}

.message_me .message_sender,
.message_me .message_body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.message_else .message_sender,
.message_else .message_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message_body {
}

/* send_message*/
.send_message {
  background-color: #7fa7c5;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 3rem;
}
.send_message textarea {
  margin-left: auto;
  width: 80%;
  resize: none;
}
.send_message form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
